{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
	{% for flashError in app.flashes('verify_password_error') %}
		<div class="alert alert-danger" role="alert">{{ flashError }}</div>
	{% endfor %}
	
	<!--debut barre a gaucher--> 
	<form class="py-5 my-5" method="post">
		<div class="container">
			<div class="bg-white shadow rounded-lg d-block d-sm-flex">
				<div class="profile-tab-nav border-right">
					<div class="nav d-flex flex-column nav-pills">
						<a class="nav-link nav--Profile" href="{{ path('app_account', {'id': app.user.id}) }}"><i class="ri-profile-line"></i>  Comptes</a>
						<a class="nav-link nav--Profile nav--active" href="#"><i class="ri-shield-user-line"></i>  Securité</a>
                        <a class="nav-link nav--Profile" href="{{ path('kart_user') }}"><i class="ri-shopping-cart-line"></i>  Panier</a>
						<a class="nav-link nav--Profile" href="{{ path('kart_history') }}"><i class="ri-history-line"></i>  Historique des commandes</a>
						<a class="nav-link nav--Profile" href="{{ path('app_logout') }}"><i class="ri-logout-circle-r-line"></i>  Déconnexion</a>
					</div>
				</div>
				<!--Fin de la barre gauche--> 

				<!--Debut rectangle centrale-->
				{{ form_start(registrationForm) }}
				<div class="tab-content p-4 p-md-5" id="v-pills-tabContent">
					<div class="tab-pane fade show active" id="account" role="tabpanel" aria-labelledby="account-tab">
						<h3 class="mb-4 label--Profile">CHANGEMENT DE MOT DE PASSE</h3>
						<div class="col-md-6">
							<input type="password" class="form-control" id="inputPassword"
								placeholder="Mot de passe actuel..."
								name="password-old" required
							>
							{#{{ form_help(registrationForm.email)}}#}
							{#{{ form_errors(registrationForm.email)}}#}
							<hr>
                            {{ form_widget(registrationForm.plainPassword
									,{ label: 'Password' }
								) 
							}}
						</div>
						<div class="mt-3">
							<button class="btn btn-sm btnUser" type="submit">Soumettre</button>
							<!-- <a class="btn btn-sm btn-secondary" href="{#{{ path('homepage') }}#}">Annuler</a> -->
						</div>
					</div>
				</div>
				{{ form_end(registrationForm) }}
			</div>
		</div>
	</form>
	<!--Fin rectangle centrale-->

{% endblock %}