<div class="container">
  {{ form_start(form) }}

  {{ form_label(form.Title) }}
  {{ form_widget(form.Title) }}
  {{ form_help(form.Title) }}
  {{ form_errors(form.Title) }}
<br>
  {{ form_label(form.Description) }}
  {{ form_widget(form.Description) }}
  {{ form_help(form.Description) }}
  {{ form_errors(form.Description) }}
<br>
  {{ form_label(form.Region) }}
  {{ form_widget(form.Region) }}
  {{ form_help(form.Region) }}
  {{ form_errors(form.Region) }}
<br>
  {{ form_label(form.Capacity) }}
  {{ form_widget(form.Capacity) }}
  {{ form_help(form.Capacity) }}
  {{ form_errors(form.Capacity) }}
<br>
  {{ form_label(form.Price) }}
  {{ form_widget(form.Price) }}
  {{ form_help(form.Price) }}
  {{ form_errors(form.Price) }}
<br>
  {{ form_label(form.Score) }}
  {{ form_widget(form.Score) }}
  {{ form_help(form.Score) }}
  {{ form_errors(form.Score) }}
<br>
  {{ form_label(form.Category) }}
  {{ form_widget(form.Category) }}
  {{ form_help(form.Category) }}
  {{ form_errors(form.Category) }}
<br>
  <button class="btn btnUserReverse">{{ button_label|default('Sauver') }}</button>
  {{ form_end(form) }}
</div>
