<!DOCTYPE html>
<html lang="fr">
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- -->
        <meta http-equiv="Content-Type" content="text/html/php/twig"/>
        <meta name="description" content="Projet de groupe titre professionnel"/>
        <meta name="author" content="NSIM / ILLARIONOVA / PASCAL / BIROLINI"/>
        
        <link rel="icon" type="image/png" href="{{ asset('build/images/TiroirDuTerroir-ico.png') }}"/>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
            and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

    </head>
    
    <body>
        
        <header>
            <div class="d-flex flex-row w-100 bg-light justify-content-between">
                <div id="LogoContainer bg-light">
                    <a class="Logo" href="{{ path('homepage') }}">
                        <img id="ImgLogo" src="{{ asset('build/images/TiroirDuTerroir-logo.png') }}" alt="Logo Tiroir du Terroir">
                    </a>
                </div>
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <!-- -->
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <!-- -->
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-0">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Nos produits...
                                </a>
                                <div class="dropdown-menu" ><!-- aria-labelledby="navbarDropdown"> -->
                                    <!-- -->
                                    <span style="padding:0 0 0 10px;font-style:italic" disabled><b>Par catégorie :</b></span>
                                    <div class="dropdown-divider"></div>
                                    {% for category in getcategories() %}
                                    <a class="dropdown-item" href="{{ path('article_category', {'id': category.id}) }}">{{ category.label }}</a>
                                    {% endfor %}
                                    <!-- -->
                                    <div class="dropdown-divider"></div>
                                    <span style="padding:0 0 0 10px;font-style:italic" disabled><b>Par région :</b></span>
                                    <div class="dropdown-divider"></div>
                                    <!-- {{ dump(getregions()) }} -->
                                    {% for region in getregions() %}
                                    <a class="dropdown-item" href="{{ path('article_region', {'region': region[0]}) }}">{{ region[0] }}</a>
                                    {% endfor %}
                                </div>
                            </li>
                        </ul>
                        {# Si l'utilisateur EST DEJA identifié #}
                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        <!-- {#{% if app.user %}#} -->
                        <ul class="navbar-nav ml-0">
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('app_account', {'id': app.user.id}) }}"><i class="ri-profile-line"></i>  {{ app.user.firstname }} {{ app.user.lastname }}</a>
                            </li>
                            <li class="nav-item">
                                <!-- <a class="nav-link" href=""><i class="ri-shopping-cart-line"></i>  Panier</a> -->
                                <a class="nav-link" href="{{ path('kart_user') }}"><i class="ri-shopping-cart-line"></i>  Panier</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('app_logout') }}"><i class="ri-logout-circle-r-line"></i>  Déconnexion</a>
                                <!-- <a class="nav-link" href="{#{{ path('app_logout') }}#}">Déconnexion</a> -->
                            </li>
                            {% if is_granted("ROLE_ADMIN") %}
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="ri-admin-line"></i>   Administration
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="{{ path('category_index') }}">Catégories</a>
                                    <a class="dropdown-item" href="{{ path('article_index') }}">Articles</a>
                                </div>
                            </li>
                            {% endif %}
                        </ul>
                        {# Si l'utilisateur N'est PAS encore identifié #}
                        {% else %}
                        <ul class="navbar-nav ml-0">
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('app_connection') }}"><i class="ri-login-box-line"></i>   Connexion</a>
                            </li>
                        </ul>
                        {% endif %}
                    </div>
                </nav>
            </div>
        </header>

        <div class="d-flex flex-row banner">
            <img class="imgbanner--logo" src="{{ asset('build/images/TiroirDuTerroir-logo.png') }}" alt="Logo Tiroir du Terroir">
        </div>

        {% block body %}



        {% endblock %}
        

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>


    <footer class="d-flex flex-column"><!-- </footer>mt-2"> -->
    <!-- Incorporation du Javascript spécifiques à cette section du HTML,
        pour éviter les dissociation/désactivation de l'utilisateur : -->
        <script type="text/javascript">
            // $(document).ready(function(){
                // *** Gestion du scroll ***
                // -- ... Récupère la hauteur par l'appel d'une fonction,car a besoin d'être dynamique,
                // -- => grandi avec l'ajout de nouveaux éléments...
                function getHeight(){return document.documentElement.scrollHeight;};
                function getInnerHeight(){return window.innerHeight?window.innerHeight:document.documentElement.clientHeight;};
                function getScrollTop(){return Math.max(document.body.scrollTop,document.documentElement.scrollTop);};
                // -- Fonction d'analyse de la progression du scroll et de création des nouveaux éléments
                function waitForBottom() {
                    var htmlIShortCuts=document.getElementsByClassName("ShortCuts");
                    if(Math.round(getScrollTop()+getInnerHeight())===Math.round(getHeight())){
                        for(var htmlItem of htmlIShortCuts){
                            htmlItem.style.fontSize="2.5em";
                        }
                    }
                    else{
                        for(var htmlItem of htmlIShortCuts){
                            htmlItem.style.fontSize="1em";
                        }
                    }
                };
                // *** Pose de l'espion du mouvement de scrolling ***
                window.addEventListener('scroll',waitForBottom);
            // });
        </script>

        <style type="text/css">
            footer{
                margin-top:5em;
                /* position:fixed; */
                /* bottom:-0.75em; */
                /* bottom:0; */
                width:100%;
                /* z-index: 1; */
                /**/
                text-align:center;
                background-color:  rgba(253, 191, 21, 0.836);
                /* background-color:grey; */
            }
            #Div-ShortCuts_Row{
                display:flex;
                flex-direction:row;
                justify-content:center;
            }
            .ShortCuts{
                margin:15px;
                color:rgb(83, 22, 22);
            }
            footer > p {
                color:rgb(83, 22, 22);
                font-style:italic;
            }
        </style>
        
        <div id="Div-ShortCuts_Row">
            <a href="mailto:groupe3wf3@outlook.fr"
                title="Nous envoyer un courriel">
                <i class="ri-mail-send-line ShortCuts"></i>
            </a>
            <a href="tel:0611223344" title="Nous téléphoner">
                <i class="ri-phone-line ShortCuts"></i>
            </a>
            <a href="{{ asset('build/images/CGV.html') }}" title="CGV" target="_blank">
                <i class="ri-bookmark-fill ShortCuts"></i>
            </a>
            <a href="{{ asset('build/images/mentions_legales.html') }}" title="Mentions légales" target="_blank">
                <i class="ri-flag-2-fill ShortCuts"></i>
            </a>
        </div>
        <p>
            © Mars 2021 - Ce site a été créé comme projet de soutenance sous
            Symfony 5, par Samantha Kaseka NSIMBA, Maxime PASCAL, et Hervé BIROLINI
        </p>

    </footer>
</html>
