{% extends 'base.html.twig' %}

{% block title %}Article{% endblock %}

{% block body %}
<div class="container pt-5" id="BigBody">
    <h1>Article</h1>

    <table class="table table--TxtLight">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ article.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ article.Title }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ article.Description }}</td>
            </tr>
            <tr>
                <th>Region</th>
                <td>{{ article.Region }}</td>
            </tr>
            <tr>
                <th>Capacity</th>
                <td>{{ article.Capacity }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ article.Price }}</td>
            </tr>
            <tr>
                <th>Score</th>
                <td>{{ article.Score }}</td>
            </tr>
            <tr>
                <th>Category</th>
                <td>{{ article.Category.label }}</td>
            </tr>
            <!-- <tr>
                <th>Image</th>
                <td>{#{{ article.Image }}#}</td>
            </tr> -->
        </tbody>
    </table>

    <a href="{{ path('article_index') }}">back to list</a>

    <a href="{{ path('article_edit', {'id': article.id}) }}">edit</a>

    {{ include('article/_delete_form.html.twig') }}

</div>

{% endblock %}
